<div class="auther">
    <h1 class="auther__heading">About Us</h1>
    <p class="auther__body">This is a blog for present MongoDB But there is so hard to connect. there is always error</p>
</div>

<img src="/img/cry.jpeg" alt="This is me while see the error" class="cry" width="981" height="582">
